{% extends "layout.html" %}
{% block title %}<title>Your profile</title>{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" 
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col margin m-5">
                <img style="width: 400px" src="https://avatars.githubusercontent.com/u/9381390?v=4" class="bg-info rounded-circle"/>
                <h1 class=" margin mt-5">{{ current_user.username }}</h1>
                <p>User since: </p>
            </div>
            <div class="col">
                <h3>Your Motorcycles</h3>
                <div class="container-fluid margin mt-10">
                    {% for motorcycle in motorcycles %}
                    <div class="row">
                        <div class="col">
                            {{ motorcycle.name }}
                        </div>

                        <div class="col">
                            {{ motorcycle.id }}
                        </div>

                        <div class="col">
                            Yes
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                    <form action="{{ url_for('motorcycle_list') }}" method="POST">
                        <div class="col">
                            <input type="text" name="brand" placeholder="Brand">
                        </div>
                        <div class="col">
                            <input type="text" name="model" placeholder="Model">
                        </div>
                        <button class="button" type="submit">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}